include ../c-carousel/c-carousel

mixin c-content(data)
	if data.main_content
		.content-wrapper.main-page-content
			.content-header
				.header-info
					p.content-text-info Сегодня в мире, пожалуй, не осталось профессиональных областей, куда женщины не внесли бы свой весомый вклад. Особенно ярко это можно видеть в Госкорпорации Ростех, где женщины составляют примерно половину всех сотрудников. Женщины создают передовые технологии, делают открытия, производят сложнейшую технику и при этом – воспитывают детей, устраивают домашний быт, вдохновляют мужчин. Мы решили рассказать о женщинах Ростеха, достигших успеха в своих профессиях.
				.header-logo
					a.header-logo-link(href="#")
						img(src="s/images/useful/ros_logo.png", alt="rostec")
			+c-carousel()
	if data.person_content
		.content-wrapper.content-person
			.content-header-wrapper
				.content-header
					.header-info
						span.header-name Наталия Цимбалюк,
						span.header-position инженер-технолог 
					.header-logo
						a.header-logo-link(href="#")
							img(src="s/images/useful/ros_logo.png", alt="rostec")
					a.header-close(href="javascript:void(0)")
						+svg('icon-close')
			.content-inner#content_inner.js-fullpage
				.section
					.content-photoes.js-fancybox
						a(href="s/images/tmp_file/photoes/img4.jpg", rel="group", data-fancybox="images").content-photoes-item
							img(src="s/images/tmp_file/photoes/img4.jpg", alt="img")
						a(href="s/images/tmp_file/photoes/img5.jpg", rel="group", data-fancybox="images").content-photoes-item
							img(src="s/images/tmp_file/photoes/img5.jpg", alt="img")
					.content-text-info-wrap
						p.content-text-info Наталия, инженер-технолог Обнинского научно-производственного предприятия «Технология» им. А.Г. Ромашина (входит в Госкорпорацию Ростех), 9 лет посвятила профессиональному волейболу. Поэтому игра в команде для нее − не пустые слова. Именно благодаря командной работе лаборатории, где трудится Наталия, недавно был создан новый вид авиационного остекления на основе монолитного поликарбоната. Авторский коллектив разработчиков технологии был удостоен премии Правительства РФ 2018 года в области науки и техники.
					.content-quotes-wrap
						p.content-quotes Горжусь тем, что наш коллектив первым в России применил поликарбонат для остекления самолетов. Мы научились работать с материалом и создали не имеющее аналогов в стране технологическое оборудование
					.content-text-info-wrap
						p.content-text-info Согласно данным Международной организации гражданской авиации, в мире за год воздушные суда сталкиваются с птицами около 5 тысяч раз. При этом в 20% случаев птицы попадают именно в остекление лайнеров. В связи с этим всегда остро стоял вопрос надежности авиационного остекления. Традиционные изделия на основе органических и силикатных материалов не в полной мере отвечают требованиям, предъявляемым к остеклению современных сверхзвуковых истребителей. В то же время конструкционный монолитный поликарбонат по устойчивости к ударам более чем в 100 раз превышает силикатное стекло и почти в 10 раз – органическое. Кроме того, поликарбонат в два раза легче силикатных аналогов.
	if data.person_large_content
		.content-wrapper.content-person
			.content-header-wrapper
				.content-header
					.header-info
						span.header-name Наталия Цимбалюк,
						span.header-position инженер-технолог 
					.header-logo
						a.header-logo-link(href="#")
							img(src="s/images/useful/ros_logo.png", alt="rostec")
					a.header-close(href="javascript:void(0)")
						+svg('icon-close')
			.content-inner-wrapper
				.content-inner#content_inner.js-fullpage
					.section
						.content-photoes.js-fancybox
							a(href="s/images/tmp_file/photoes/gepard.jpg", rel="group1", data-fancybox="images").content-photoes-item
								img(src="s/images/tmp_file/photoes/gepard.jpg", alt="img")
							a(href="s/images/tmp_file/photoes/bulaeva.jpg", rel="group1", data-fancybox="images").content-photoes-item
								img(src="s/images/tmp_file/photoes/bulaeva.jpg", alt="img")
						.content-text-info-wrap
							p.content-text-info Наталия, инженер-технолог Обнинского научно-производственного предприятия «Технология» им. А.Г. Ромашина (входит в Госкорпорацию Ростех), 9 лет посвятила профессиональному волейболу. Поэтому игра в команде для нее − не пустые слова. Именно благодаря командной работе лаборатории, где трудится Наталия, недавно был создан новый вид авиационного остекления на основе монолитного поликарбоната. Авторский коллектив разработчиков технологии был удостоен премии Правительства РФ 2018 года в области науки и техники.
						.content-quotes-wrap
							p.content-quotes Горжусь тем, что наш коллектив первым в России применил поликарбонат для остекления самолетов. Мы научились работать с материалом и создали не имеющее аналогов в стране технологическое оборудование
						.content-text-info-wrap
							p.content-text-info Наталия, инженер-технолог Обнинского научно-производственного предприятия «Технология» им. А.Г. Ромашина (входит в Госкорпорацию Ростех), 9 лет посвятила профессиональному волейболу. Поэтому игра в команде для нее − не пустые слова. Именно благодаря командной работе лаборатории, где трудится Наталия, недавно был создан новый вид авиационного остекления на основе монолитного поликарбоната. Авторский коллектив разработчиков технологии был удостоен премии Правительства РФ 2018 года в области науки и техники.
					.section
						.content-text-info-wrap
							p.content-text-info Согласно данным Международной организации гражданской авиации, в мире за год воздушные суда сталкиваются с птицами около 5 тысяч раз. При этом в 20% случаев птицы попадают именно в остекление лайнеров. В связи с этим всегда остро стоял вопрос надежности авиационного остекления. Традиционные изделия на основе органических и силикатных материалов не в полной мере отвечают требованиям, предъявляемым к остеклению современных сверхзвуковых истребителей. В то же время конструкционный монолитный поликарбонат по устойчивости к ударам более чем в 100 раз превышает силикатное стекло и почти в 10 раз – органическое. Кроме того, поликарбонат в два раза легче силикатных аналогов.
						.content-text-info-wrap
							p.content-text-info Наталия, инженер-технолог Обнинского научно-производственного предприятия «Технология» им. А.Г. Ромашина (входит в Госкорпорацию Ростех), 9 лет посвятила профессиональному волейболу. Поэтому игра в команде для нее − не пустые слова. Именно благодаря командной работе лаборатории, где трудится Наталия, недавно был создан новый вид авиационного остекления на основе монолитного поликарбоната. Авторский коллектив разработчиков технологии был удостоен премии Правительства РФ 2018 года в области науки и техники.
						.content-quotes-wrap
							p.content-quotes Горжусь тем, что наш коллектив первым в России применил поликарбонат для остекления самолетов. Мы научились работать с материалом и создали не имеющее аналогов в стране технологическое оборудование
						.content-text-info-wrap
							p.content-text-info Согласно данным Международной организации гражданской авиации, в мире за год воздушные суда сталкиваются с птицами около 5 тысяч раз. При этом в 20% случаев птицы попадают именно в остекление лайнеров. В связи с этим всегда остро стоял вопрос надежности авиационного остекления. Традиционные изделия на основе органических и силикатных материалов не в полной мере отвечают требованиям, предъявляемым к остеклению современных сверхзвуковых истребителей. В то же время конструкционный монолитный поликарбонат по устойчивости к ударам более чем в 100 раз превышает силикатное стекло и почти в 10 раз – органическое. Кроме того, поликарбонат в два раза легче силикатных аналогов.
					.section
						+c-carousel()
						.sidebar-share-wrap
							span.sidebar-share-title Поделиться
							.share-item-wrapper
								.sidebar-share-item
									a(href="javascript:void(0)")
										+svg('icon-vk')
								.sidebar-share-item
									a(href="javascript:void(0)")
										+svg('icon-fb')
								.sidebar-share-item
									a(href="javascript:void(0)")
										+svg('icon-ok')