@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

@include font-face(MinionPro-Regular, MinionPro-Regular);
@include font-face(ProximaNovaBold, ProximaNovaBold);
@include font-face(ProximaNovaBoldItalic, ProximaNovaBoldItalic);
@include font-face(ProximaNovaExCn-RegIt, ProximaNovaExCn-RegIt);
@include font-face(ProximaNovaExCn-Regular, ProximaNovaExCn-Regular);
@include font-face(ProximaNovaExCn-Bold, ProximaNovaExCn-Bold);
@include font-face(ProximaNovaExCn-Light, ProximaNovaExCn-Light);
@include font-face(ProximaNovaExtraCondensedBoldItalic, ProximaNovaExtraCondensedBoldItalic);
@include font-face(ProximaNovaExtraCondensedLightItalic, ProximaNovaExtraCondensedLightItalic);
@include font-face(ProximaNovaExtraCondensedSemiboldItalic, ProximaNovaExtraCondensedSemiboldItalic);
@include font-face(ProximaNovaLight, ProximaNovaLight);
@include font-face(ProximaNovaRegular, ProximaNovaRegular);
@include font-face(ProximaNovaRegularItalic, ProximaNovaRegularItalic);