mixin c-carousel(data)
	.slider-section
		.slider-wrapper.js-slick-init
			.slider-item
				a(href="javascript:void(0)")
					.slider-img
						img(src="s/images/useful/Persons/img1.png", alt="img")
					.slider-descr
						span.item-name Наталия Цимбалюк,
						span.item-position инженер-технолог
			.slider-item
				a(href="javascript:void(0)")
					.slider-img
						img(src="s/images/useful/Persons/img2.png", alt="img")
					.slider-descr
						span.item-name Айгуль Зайцева, 
						span.item-position художник по росписи холодильников
			.slider-item
				a(href="javascript:void(0)")
					.slider-img
						img(src="s/images/useful/Persons/img3.png", alt="img")
					.slider-descr
						span.item-name Ирина Булаева, 
						span.item-position  инженер-технолог, менеджер по работе с молодежью
			.slider-item
				a(href="javascript:void(0)")
					.slider-img
						img(src="s/images/useful/Persons/img4.png", alt="img")
					.slider-descr
						span.item-name Ольга Лотарева, 
						span.item-position ведущий инженер-технолог
			.slider-item
				a(href="javascript:void(0)")
					.slider-img
						img(src="s/images/useful/Persons/img5.png", alt="img")
					.slider-descr
						span.item-name Дина Шарифуллина, 
						span.item-position ведущий инженер-конструктор
			.slider-item
				a(href="javascript:void(0)")
					.slider-img
						img(src="s/images/useful/Persons/img6.png", alt="img")
					.slider-descr
						span.item-name Евдокия Пугачева,
						span.item-position мастер бригады
		.slider-bottom
			.slider-arr-wrapper
				.slider-prev
					img(src="s/images/useful/arr-left.png", alt="arr-right")
				.slider-next
					img(src="s/images/useful/arr-right.png", alt="arr-right")
			.slider-modal-trigger
				button.modal-trigger-item(type="button") Поздравление Сергея Чемезова