extends _includes/_extends/main

include _includes/components/c-modal/c-modal
include _includes/components/c-sidebar/c-sidebar
include _includes/components/c-content/c-content

block head
    +head({'title':'Главная'})

block content
    .site-wrapper
        +c-sidebar({
            sidebar_class: '',
            sidebar_slider: false
        })
        +c-content({
            main_content: true,
            person_content: false,
            person_large_content: false
        })

block beforeScripts
    +c-modal({modalid: 'modalWindow'})