mixin c-modal(data)
	.fade.modal.js-modal(tabindex='-1', role='dialog', aria-hidden='true', id='' + data.modalid ? data.modalid : '')
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.popup-wrapper
					.popup-left-side
						p.popup-title  Поздравление гендиректора Ростеха #[b Сергея Чемезова]
						.popup-logo
							img(src="s/images/useful/ros_8.png", alt="8 march")
					.popup-right-side
						.popup-content
							.popup-header
								p.popup-title Поздравление гендиректора Ростеха #[b Сергея Чемезова]
								.popup-logo
									img(src="s/images/useful/ros_8.png", alt="8 march")
								.popup-header-img
									img(src="s/images/useful/ros_logo.png", alt="rostec")
							.popup-text-wrap
								.popup-text-topic
									span.topic-quotes «
									span.topic-item Дорогие женщины!
								.popup-main-text
									p.main-text-item Первый весенний праздник – Международный женский день 8 Марта – всегда отмечается нами с особой теплотой и сердечностью. Этот день наполнен самыми добрыми чувствами к нашим мамам, женам, дочерям, коллегам по работе – ко всем близким нашему сердцу женщинам.
									p.main-text-item В женщинах, которые нас окружают, воплощена красота, нежность и любовь, поддержка и забота – самые добрые и светлые качества, необходимые нам каждый aдень. У вас всегда много забот. Вам удается беречь семейный очаг и воспитывать детей, одновременно достигая вершин в работе и карьере.
									p.main-text-item Сегодня трудно представить профессиональную область, в которую вы не внесли бы свой неоценимый вклад. Ваша способность справляться с трудностями, оставаясь при этом яркими и красивыми, учит нас быть настоящими мужчинами – работать и достигать результата вопреки всему.
									p.main-text-item От всей души поздравляю всех женщин, которые сегодня успешно трудятся в Госкорпорации Ростех, с наступающим весенним праздником! Пусть он подарит вам радость и хорошее настроение, исполнение всех ваших надежд и желаний! 
								.popup-quote
									p.quote-item  Доброго вам здоровья, любви, семейного благополучия, новых профессиональных успехов и достижений!
									span.topic-quotes »
								.popup-signature
									.signature-item-wrap
										p.signature-item #[span.leader-name Сергей Чемезов], генеральный директор Государственной корпорации Ростех
									.signature-image
										img(src="s/images/useful/signature.png", alt="signature")
							.popup-footer
								.popup-timing
									span.timing-line
									span.timing-slider
								//- button.popup-close(type="button", data-dismiss="modal", aria-label="Close")
								button.popup-close(type="button")
									img(src="s/images/useful/check-mark.png", alt="check-mark")
									span Спасибо
						.popup-image
							img(src="s/images/useful/main-img.png", alt="Sergei Chemezov")