mixin c-sidebar(data)
	.sidebar-wrapper(class='' + data.sidebar_class ? data.sidebar_class : null)
		if data.sidebar_slider
			span.sidebar-slider
		.sidebar-title-wrap
			p.sidebar-title  Женщины в меняющемся мире #[b Героини Ростеха]
		.sidebar-image-wrap
			img(src="s/images/useful/ros_8.png", alt="8 march")
		.sidebar-share-wrap
			span.sidebar-share-title Поделиться
			.sidebar-share-item
				a(href="javascript:void(0)")
					+svg('icon-vk')
			.sidebar-share-item
				a(href="javascript:void(0)")
					+svg('icon-fb')
			.sidebar-share-item
				a(href="javascript:void(0)")
					+svg('icon-ok')
		.sidebar-logo-wrap
			img(src="s/images/useful/ros_logo.png", alt="rostec")